flows.json
[{"id":"b25203c60bb60fb5","type":"tab","label":"Init","disabled":false,"info":"","env":[]},{"id":"efea80725839a84f","type":"tab","label":"DAQ","disabled":false,"info":"","env":[]},{"id":"debe57df1350b9f8","type":"tab","label":"UI","disabled":false,"info":"","env":[]},{"id":"106dc8a140f5f24e","type":"tab","label":"Config","disabled":false,"info":"","env":[]},{"id":"8533df46bb1c0fa9","type":"tab","label":"Data out","disabled":false,"info":"","env":[]},{"id":"3c2b7a2ac4996c9d","type":"tab","label":"map","disabled":false,"info":"","env":[]},{"id":"6d979337a7724c57","type":"subflow","name":"memory","info":"","category":"tequ-plotly","in":[{"x":60,"y":80,"wires":[{"id":"3dbfbe7b4f3d0776"}]}],"out":[],"env":[],"meta":{"module":"tequ-node-red-plotly-memory","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Save chart data in global memory.","license":"MIT"},"color":"#3FADB5","inputLabels":["chart data in"],"icon":"font-awesome/fa-database","status":{"x":520,"y":180,"wires":[{"id":"adfc2329940ecdf2","port":0}]}},{"id":"2964dba0896b8e86","type":"subflow","name":"fmt trace","info":"","category":"tequ-plotly","in":[{"x":60,"y":80,"wires":[{"id":"247e5b56957eebc4"}]}],"out":[{"x":940,"y":140,"wires":[{"id":"3c461afcbfa07099","port":0},{"id":"21b7e4b9247ed3a6","port":0},{"id":"0a2ad3cacd64825d","port":2}]}],"env":[{"name":"chart_name","type":"str","value":"","ui":{"label":{"en-US":"Chart name"},"type":"input","opts":{"types":["str"]}}},{"name":"chart_history_size","type":"num","value":"8640","ui":{"label":{"en-US":"History size"},"type":"input","opts":{"types":["num","env"]}}},{"name":"trace_parameters","type":"json","value":"{\"shape\":\"linear\",\"color\":\"rgb(244,218,64)\",\"width\":2,\"dash\":\"solid\"}","ui":{"label":{"en-US":"Parameters"},"type":"input","opts":{"types":["json"]}}},{"name":"trace_name","type":"str","value":"","ui":{"label":{"en-US":"Trace name"},"type":"input","opts":{"types":["str"]}}},{"name":"format_ts","type":"str","value":"1","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"ISO8601"},"v":"1"},{"l":{"en-US":"time+ms"},"v":"2"},{"l":{"en-US":"pre-format"},"v":"3"}]}}},{"name":"show_status","type":"bool","value":"true","ui":{"label":{"en-US":"Show status"},"type":"input","opts":{"types":["bool"]}}},{"name":"buffer_size","type":"num","value":"80","ui":{"label":{"en-US":"Buffer size"},"type":"spinner","opts":{"min":2,"max":100}}}],"meta":{"module":"tequ-node-red-plotly-trace","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Format data to plotly trace","license":"MIT"},"color":"#3FADB5","inputLabels":["trace data in"],"outputLabels":["trace data out"],"icon":"node-red/template.svg","status":{"x":660,"y":260,"wires":[{"id":"921f1f65e1113e87","port":0}]}},{"id":"27400e87cb5d7174","type":"subflow","name":"add","info":"Manages creation, adding data and clearing Plotly-chart.\r\n\r\nYou must create ui-template that holds plotly chart with \r\nunique id.\r\n\r\nExample ui-template:\r\n\r\n<template>\r\n    <div id=\"plotly_chart\"></div>\r\n</template>\r\n\r\nThis node can manage creation and adding data to multiple plotly-charts.\r\n","category":"tequ-plotly","in":[{"x":60,"y":80,"wires":[{"id":"7a5886653ad547de"}]}],"out":[{"x":570,"y":80,"wires":[{"id":"0e8d3efdb4f8eaa5","port":0}]}],"env":[{"name":"chart_name","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"show_status","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}}],"meta":{"module":"tequ-node-red-plotly-chart","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Plotly Dashboard 2.0 ui-template."},"color":"#3FADB5","inputLabels":["chart data in"],"outputLabels":["data out to memory"],"icon":"font-awesome/fa-pencil-square-o","status":{"x":500,"y":160,"wires":[{"id":"a6e08db69f43f179","port":0}]}},{"id":"78d680fc38aa52f8","type":"subflow","name":"create","info":"Creates Plotly.js chart to be used in Node-RED Dashboard 2.0.\r\n\r\nConfig and layout can be configured.\r\n\r\nInput for this node should be Dashboard 2.0 UI control node output.\r\n\r\nThis node outputs Plotly.js chart for \"tequ-node-red-plotly-chart\" node.","category":"tequ-plotly","in":[{"x":60,"y":80,"wires":[{"id":"ccebde214c8b5ae0"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"ebd13fa2163111e9","port":0}]}],"env":[{"name":"chart_name","type":"str","value":"m1_chart","ui":{"label":{"en-US":"Name"},"type":"input","opts":{"types":["str"]}}},{"name":"delay","type":"num","value":"100","ui":{"label":{"en-US":"Delay"},"type":"spinner","opts":{"min":10,"max":200}}},{"name":"config","type":"json","value":"{\"responsive\":true,\"scrollZoom\":false,\"modeBarButtonsToRemove\":[\"zoomIn2d\",\"zoomOut2d\"]}","ui":{"label":{"en-US":"Config"},"type":"input","opts":{"types":["json"]}}},{"name":"layout","type":"json","value":"{\"title\":\"Machine 1\",\"showlegend\":true,\"autosize\":true,\"dragmode\":false,\"hovermode\":\"x unified\",\"hoverlabel\":{\"namelength\":-1,\"bgcolor\":\"rgb(255,255,255)\",\"bordercolor\":\"rgb(0,0,0)\",\"font\":{\"color\":\"rgb(0,0,0)\",\"family\":\"Helvetica\",\"size\":12},\"grouptitlefont\":{\"family\":\"Helvetica\",\"size\":12}},\"margin\":{\"l\":35,\"r\":0,\"t\":50,\"b\":50},\"legend\":{\"orientation\":\"h\",\"font\":{\"color\":\"rgb(0, 0,0)\",\"family\":\"Helvetica\",\"size\":10}},\"xaxis\":{\"autorange\":true,\"hoverformat\":\"%a %e.%-m.%y klo %H:%M:%S\"},\"yaxis\":{\"autorange\":true,\"type\":\"linear\",\"ticksuffix\":\" °C\",\"hoverformat\":\".1f\",\"titlefont\":{\"size\":12,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"},\"tickfont\":{\"size\":12,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"}}}","ui":{"label":{"en-US":"Layout"},"type":"input","opts":{"types":["json"]}}},{"name":"page","type":"str","value":"Room control","ui":{"label":{"en-US":"Dashboard page"},"type":"input","opts":{"types":["str"]}}}],"meta":{"module":"tequ-node-red-plotly-create","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Create Plotly.js chart.","license":"MIT"},"color":"#3FADB5","inputLabels":["UI control in"],"outputLabels":["Plotly chart out"],"icon":"font-awesome/fa-line-chart","status":{"x":500,"y":180,"wires":[{"id":"6f6d382bf1628842","port":0}]}},{"id":"c9975e78215f4d8a","type":"ui-base","name":"UI","path":"/dashboard","showPathInSidebar":false,"navigationStyle":"default"},{"id":"3497f19aa52ffb07","type":"ui-group","name":"X-axis","page":"87816546af71cd2c","width":"12","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"c4707e03964d83a8","type":"ui-group","name":"Y-axis","page":"87816546af71cd2c","width":"12","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"14edb5cc92e12ded","type":"ui-group","name":"Z-axis","page":"87816546af71cd2c","width":"12","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"87816546af71cd2c","type":"ui-page","name":"XYZ","ui":"c9975e78215f4d8a","path":"/","icon":"chart-line","layout":"grid","theme":"df79065b84d00f4d","order":1,"className":"","visible":"true","disabled":"false"},{"id":"df79065b84d00f4d","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#ffffff","groupBg":"#ffffff","groupOutline":"#828282"},"sizes":{"pagePadding":"2px","groupGap":"2px","groupBorderRadius":"0px","widgetGap":"2px"}},{"id":"05a6169fb732451e","type":"serial-port","name":"","serialport":"/dev/ttyUSB_XSENS","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3266111f54fb1df1","type":"ui-page","name":"Config","ui":"c9975e78215f4d8a","path":"/config","icon":"cogs","layout":"grid","theme":"df79065b84d00f4d","order":3,"className":"","visible":"true","disabled":"false"},{"id":"3136c8a1364e15ba","type":"ui-group","name":"Configuration","page":"3266111f54fb1df1","width":"6","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"f382f9bcfd678a44","type":"mqtt-broker","name":"","broker":"mqtt.tequ.fi","port":"8883","tls":"56c32b100c51b228","clientid":"proto4","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"56c32b100c51b228","type":"tls-config","name":"mqtt.tequ.fi","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"d1cd4ece29040a71","type":"ui-group","name":"map","page":"4f82f3bf8ea75ef1","width":"12","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"4f82f3bf8ea75ef1","type":"ui-page","name":"Map","ui":"c9975e78215f4d8a","path":"/map","icon":"map","layout":"grid","theme":"df79065b84d00f4d","order":2,"className":"","visible":"true","disabled":"false"},{"id":"dd472cbccbd02061","type":"tls-config","name":"proto4 web site","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"82a4d56f2fc758df","type":"websocket-client","path":"wss://proto4.tequ.fi/ws/data/xsens","tls":"dd472cbccbd02061","wholemsg":"false","hb":"5","subprotocol":""},{"id":"e982b92767d63a51","type":"function","z":"6d979337a7724c57","name":"Append into global chart memory","func":"let action = msg.action;\nlet chart_name = msg.chart_name;\nlet ts = msg.ts;\n\nif (action == \"append_data\") {\n    let traces = global.get(chart_name) || {};\n    let trace_name = msg.topic;\n    let x_value = msg.payload.timestamp;\n    let y_value = msg.payload.value;\n    let chart_history_size = msg.payload.chart_history_size;\n    let line_params = msg.line_params;\n\n    if (trace_name in traces) {\n        let x_data = traces[trace_name].x;\n        let y_data = traces[trace_name].y;\n        let size = x_data.length\n\n        if (Array.isArray(x_value) && Array.isArray(y_value)){              \n            x_data = x_data.concat(x_value);\n            y_data = y_data.concat(y_value);\n\n        }\n        else{\n            x_data.push(x_value)\n            y_data.push(y_value)\n        }\n\n        if (size == chart_history_size) {\n            x_data.shift()\n            y_data.shift()\n        }\n        else if (size > chart_history_size) {\n            x_data = x_data.slice(Math.max(x_data.length - chart_history_size, 0))\n            y_data = y_data.slice(Math.max(y_data.length - chart_history_size, 0))\n        }\n\n        traces[trace_name].x = x_data\n        traces[trace_name].y = y_data\n        traces[trace_name].line = line_params\n    }\n    else {\n        traces[trace_name] = {\n            \"name\": trace_name,\n            \"x\": [],\n            \"y\": [],\n            \"type\": \"scatter\",\n            \"mode\": \"lines\",\n            \"line\": line_params\n        }\n\n        if (Array.isArray(x_value) && Array.isArray(y_value)) {\n            traces[trace_name].x = traces[trace_name].x.concat(x_value)\n            traces[trace_name].y = traces[trace_name].y.concat(y_value)\n\n        }\n        else {\n            traces[trace_name].x.push(x_value)\n            traces[trace_name].y.push(y_value)\n        }\n    }\n    global.set(chart_name, traces)\n    node.status({ fill: \"blue\", shape: \"dot\", text: ts + \" | Append | \" + trace_name });\n}\nelse {\n    node.status({ fill: \"red\", shape: \"dot\", text: ts + \" | Skipped\" });\n}\n","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[]},{"id":"adfc2329940ecdf2","type":"status","z":"6d979337a7724c57","name":"","scope":null,"x":320,"y":180,"wires":[[]]},{"id":"3dbfbe7b4f3d0776","type":"moment","z":"6d979337a7724c57","name":"ts","topic":"","input":"","inputType":"date","inTz":"Europe/Helsinki","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"ts","outputType":"msg","outTz":"Europe/Helsinki","x":170,"y":80,"wires":[["e982b92767d63a51"]]},{"id":"3c461afcbfa07099","type":"moment","z":"2964dba0896b8e86","name":"ts","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss.SSS","locale":"en-US","output":"payload.timestamp","outputType":"msg","outTz":"ETC/UTC","x":650,"y":80,"wires":[[]]},{"id":"247e5b56957eebc4","type":"function","z":"2964dba0896b8e86","name":"Append data","func":"let chart_history_size;\nlet trace_parameters = {};\nlet chart_name = \"\";\nlet trace_name = \"\";\nlet value = msg.payload;\nlet buffer_size;\nlet payload;\nlet returnData = false;\n\nif(\"topic\" in msg){\n    trace_name = msg.topic;\n}\nelse{\n    trace_name = env.get(\"trace_name\")\n}\n\n//Override if present in msg\nif (\"chart_name\" in msg) {\n    chart_name = msg.chart_name\n}\nelse {\n    chart_name = env.get(\"chart_name\")\n}\n\nif (\"buffer_size\" in msg) {\n    buffer_size = msg.buffer_size\n}\nelse {\n    buffer_size = env.get(\"buffer_size\")\n}\n\nif (\"trace_parameters\" in msg) {\n    trace_parameters = msg.trace_parameters\n}\nelse {\n    trace_parameters = env.get(\"trace_parameters\")\n}\n\nif (\"chart_history_size\" in msg) {\n    chart_history_size = msg.chart_history_size\n}\nelse {\n    chart_history_size = env.get(\"chart_history_size\")\n}\n\nif (buffer_size < 2){\n    returnData = true;\n    payload = {\n        \"value\": value,\n        \"timestamp\": \"\",\n        \"chart_history_size\": chart_history_size\n    };\n\n    if (env.get(\"format_ts\") == 3) {\n\n        if (\"timestamp\" in msg) {\n            payload.timestamp = msg.timestamp;\n        }\n        else if (\"ts\" in msg) {\n            payload.timestamp = msg.ts;\n        }\n    }\n}\nelse{\n    let buffer = context.get(trace_name) || {}\n    let ts = \"\"\n\n    if (env.get(\"format_ts\") == 3) {\n        if (\"timestamp\" in msg) {\n            ts = msg.timestamp;\n        }\n        else if (\"ts\" in msg) {\n            ts = msg.ts;\n        }\n    }\n\n    if(\"value\" in buffer){\n        buffer.value.push(value)\n        buffer.timestamp.push(ts)\n    }\n    else{\n        buffer.value = []\n        buffer.timestamp = []\n        buffer.value.push(value)\n        buffer.timestamp.push(ts)\n    }\n    \n    context.set(trace_name,buffer)\n\n    if (buffer.value.length >= buffer_size){\n       payload = {\n            \"value\": buffer.value,\n            \"timestamp\": buffer.timestamp,\n            \"chart_history_size\": chart_history_size\n        };\n        returnData = true;\n        context.set(trace_name,{})\n    }\n}\n\nmsg.topic = trace_name;\nmsg.chart_name = chart_name;\nmsg.payload = payload;\nmsg.line_params = trace_parameters\nmsg.action = \"append_data\";\n\nif(env.get(\"show_status\")){\n    node.status({ fill: \"blue\", shape: \"dot\", text: trace_name + \": \" + value });\n}\nelse{\n    //\n}\n\nif(returnData){\n    return msg;\n}\nelse {\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":80,"wires":[["0a2ad3cacd64825d"]]},{"id":"921f1f65e1113e87","type":"status","z":"2964dba0896b8e86","name":"","scope":null,"x":220,"y":260,"wires":[[]]},{"id":"0a2ad3cacd64825d","type":"switch","z":"2964dba0896b8e86","name":"format_ts?","property":"format_ts","propertyType":"env","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":80,"wires":[["21b7e4b9247ed3a6"],["3c461afcbfa07099"],[]]},{"id":"21b7e4b9247ed3a6","type":"moment","z":"2964dba0896b8e86","name":"ts","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss.SSS","locale":"en-US","output":"payload.timestamp","outputType":"msg","outTz":"ETC/UTC","x":650,"y":40,"wires":[[]]},{"id":"0e8d3efdb4f8eaa5","type":"ui-template","z":"27400e87cb5d7174","group":"","page":"","ui":"c9975e78215f4d8a","name":"Draw plotly-data","order":1,"width":"4","height":"7","head":"","format":"<script src=\"https://cdn.plot.ly/plotly-2.30.0.min.js\" charset=\"utf-8\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js\"></script>\n\n<script> \n    function updateRTChart(traceName, value, timestamp, chart_id,chart_history_size, line_params) {\n        \n        let trace = {}\n\n        if(Array.isArray(value) && Array.isArray(timestamp)){\n            trace = {\n                mode: \"lines\",\n                type: \"scatter\",\n                x: timestamp,\n                y: value,\n                name: traceName,\n                line:line_params\n            };\n        }\n        else{\n            trace = {\n                mode: \"lines\",\n                type: \"scatter\",\n                x: [timestamp],\n                y: [value],\n                name: traceName,\n                line:line_params\n            };\n        }\n          \n\n        let chart_element = document.getElementById(chart_id);\n        let targetIndex = findOutIndexOfPlotlyChartTrace(chart_element, trace)\n        \n        // Update data to existing chart\n        if (targetIndex !== -1) {\n            let data_x = chart_element.data[targetIndex].x;\n            let data_y = chart_element.data[targetIndex].y;\n\n            let updated_x = data_x.concat(trace.x);\n            let updated_y = data_y.concat(trace.y);\n\n            if (updated_x.length  == chart_history_size) {\n                updated_x.shift()\n                updated_x.shift()\n            }\n            else if (updated_x.length  > chart_history_size) {\n                updated_x = updated_x.slice(Math.max(updated_x.length - chart_history_size, 0))\n                updated_y = updated_y.slice(Math.max(updated_y.length - chart_history_size, 0))\n            }\n\n            Plotly.update(chart_element, {\n                x: [updated_x],\n                y: [updated_y]\n            }, {}, [targetIndex]);  \n        }\n        // Add trace to chart\n        else {\n            Plotly.addTraces(chart_element, trace);\n        }\n    }\n    \n    function findOutIndexOfPlotlyChartTrace(chart_element, trace) {\n        // Find out index of data\n        let targetIndex = -1\n        try {\n            for (let k = 0; k < (chart_element.data).length; k++) {\n                if (chart_element.data[k].name == trace.name) {\n                    targetIndex = k;\n                }\n            }\n        } catch (e) {\n            targetIndex = -1\n        }\n\n        return targetIndex\n    }\n    \n    // Subscribe to the incoming msg's\n    this.$socket.on('msg-input:' + this.id, function(msg) {\n        \n        let action = msg.action;\n\n        if(action == \"create\"){\n            \n            let dom_id  = msg.chart_name\n\n            if(document.getElementById(dom_id) !== null){\n                try{\n                    let data = msg.payload.data;\n                    let config = msg.payload.config;\n                    let layout = msg.payload.layout;    \n                    let chart_name = dom_id;\n                    Plotly.newPlot(chart_name, data, layout, config);\n                }\n                catch(e){\n                    // Pass this error\n                    // console.log(\"Plotly not yet ready or available\")\n                }\n            }\n            else{\n                // pass this error\n                //console.log(\"Plotly chart already created\")\n            }\n            \n            \n        }   \n        else if(action == \"append_data\"){          \n            \n            let dom_id = msg.chart_name\n\n            if(document.getElementById(dom_id) !== null){\n                try{\n                    let value = msg.payload.value;\n                    let timestamp = msg.payload.timestamp;\n                    let traceName = msg.topic;\n                    let chart_name = dom_id;\n                    let chart_history_size = msg.payload.chart_history_size;\n                    let line_params = msg.line_params;\n                    updateRTChart(traceName, value, timestamp, chart_name, chart_history_size, line_params)\n                }\n                catch(e){\n                    // Pass this error\n                    // console.log(\"Append data failed: \"+e)\n                    // console.log(msg)\n                }\n            }\n            else{\n                // pass this error, page is not active where charts are\n                // console.log(\"Plotly element: \"+dom_id+\" does not exist on DOM.\")\n            }\n            \n            \n        }\n        else if(action == \"clear\"){ \n            let data = []; \n            let chart_name = msg.chart_name; \n            Plotly.newPlot(chart_name, data);\n        }    \n    })\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":360,"y":80,"wires":[[]]},{"id":"a6e08db69f43f179","type":"status","z":"27400e87cb5d7174","name":"","scope":null,"x":340,"y":160,"wires":[[]]},{"id":"7a5886653ad547de","type":"function","z":"27400e87cb5d7174","name":"status","func":"let value = msg.payload.value;\n\nif (env.get(\"show_status\")) {\n    //node.status({fill:\"blue\",shape:\"dot\",text:\"Received: \"+value});\n}\nelse {\n    //\n}\n\nlet chart_name = \"\";\n\nif(\"chart_name\" in msg){\n    chart_name = msg.chart_name;\n}\nelse{\n    chart_name = env.get(\"chart_name\");\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":80,"wires":[["0e8d3efdb4f8eaa5"]]},{"id":"5feaa5099a6887eb","type":"comment","z":"27400e87cb5d7174","name":"","info":"","x":400,"y":300,"wires":[]},{"id":"ccebde214c8b5ae0","type":"function","z":"78d680fc38aa52f8","name":"Create","func":"let page = msg.name;\nlet target_page = env.get(\"page\")\nlet action = msg.payload;\nlet chart_name = env.get(\"chart_name\");\nlet config = env.get(\"config\");\nlet layout = env.get(\"layout\");\nlet delay = env.get(\"delay\");\n\nfunction createMessage(chart_name, message_delay){\n    let dataArray = []\n    let traces = global.get(chart_name) || {}\n\n    for (let value in traces) {\n        dataArray.push(traces[value])\n    }\n\n    let plotly = {\n        \"data\": dataArray,\n        \"config\": config,\n        \"layout\": layout,\n    }\n\n    msg.payload = plotly;\n    msg.action = \"create\";\n    msg.delay = message_delay;\n    msg.chart_name = chart_name;\n    node.send([msg])\n}\n\nif (action == \"change\" && page == target_page){\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"Change | \"+ chart_name });   \n    createMessage(chart_name, delay);\n}\nelse if(action == \"connect\"){\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Connect | \" + chart_name }); \n    createMessage(chart_name, delay * 5);\n}\nelse if (action == \"reload\") {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Reload | \" + chart_name });\n    createMessage(chart_name, delay);\n}\nelse{\n    //do nothing\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["ebd13fa2163111e9"]]},{"id":"ebd13fa2163111e9","type":"delay","z":"78d680fc38aa52f8","name":"100ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":80,"wires":[[]]},{"id":"6f6d382bf1628842","type":"status","z":"78d680fc38aa52f8","name":"","scope":null,"x":360,"y":180,"wires":[[]]},{"id":"47421b963dcadeef","type":"exec","z":"b25203c60bb60fb5","command":"sudo nmcli ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":630,"y":80,"wires":[["8316bc13fb67cd55"],["6630da10ac669637"],["357ddf9176d05209"]]},{"id":"8316bc13fb67cd55","type":"debug","z":"b25203c60bb60fb5","name":"debug 126","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":40,"wires":[]},{"id":"6630da10ac669637","type":"debug","z":"b25203c60bb60fb5","name":"debug 127","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":80,"wires":[]},{"id":"357ddf9176d05209","type":"debug","z":"b25203c60bb60fb5","name":"debug 128","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"50151908f6942730","type":"comment","z":"b25203c60bb60fb5","name":"Start wifi hot spot","info":"","x":120,"y":40,"wires":[]},{"id":"91723f1dd451a744","type":"ui-template","z":"b25203c60bb60fb5","group":"","page":"","ui":"c9975e78215f4d8a","name":"custom styles","order":0,"width":0,"height":0,"head":"","format":"<style>\n\n  .v-card-text {\n      padding: 0rem !important\n  }\n\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":320,"y":180,"wires":[[]]},{"id":"d7c2fc82cb9d89a1","type":"change","z":"b25203c60bb60fb5","name":"","rules":[{"t":"set","p":"GNSS","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[[]]},{"id":"07d95e688bd4f054","type":"change","z":"b25203c60bb60fb5","name":"","rules":[{"t":"set","p":"logging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":320,"wires":[[]]},{"id":"a42d03b6387f58b4","type":"inject","z":"b25203c60bb60fb5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":280,"wires":[["d7c2fc82cb9d89a1","07d95e688bd4f054","83906a31e3591c1d","6d0fa5661a11691c"]]},{"id":"83906a31e3591c1d","type":"change","z":"b25203c60bb60fb5","name":"","rules":[{"t":"set","p":"www","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[[]]},{"id":"d95aa05a46e4d782","type":"inject","z":"b25203c60bb60fb5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["8aa5d38d993d1745"]]},{"id":"8aa5d38d993d1745","type":"exec","z":"b25203c60bb60fb5","command":"sudo reboot","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":290,"y":580,"wires":[["2443c8017329a287"],["c485ded1a8b2cd70"],["b5b7c86472faab74"]]},{"id":"2443c8017329a287","type":"debug","z":"b25203c60bb60fb5","name":"debug 138","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":540,"wires":[]},{"id":"c485ded1a8b2cd70","type":"debug","z":"b25203c60bb60fb5","name":"debug 139","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":580,"wires":[]},{"id":"b5b7c86472faab74","type":"debug","z":"b25203c60bb60fb5","name":"debug 140","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":620,"wires":[]},{"id":"927b661d8136c15c","type":"comment","z":"b25203c60bb60fb5","name":"Custom styles","info":"","x":310,"y":140,"wires":[]},{"id":"12d62858da674db8","type":"comment","z":"b25203c60bb60fb5","name":"Init indicator states","info":"","x":330,"y":240,"wires":[]},{"id":"bad312c474dc8bd7","type":"file in","z":"b25203c60bb60fb5","name":"settings","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":80,"wires":[["4f353cab2c834db0"]]},{"id":"7cd8ec3ce1bde8c9","type":"inject","z":"b25203c60bb60fb5","name":"","props":[{"p":"payload"},{"p":"filename","v":"/home/pi/.node-red/wifi-settings.json","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["bad312c474dc8bd7"]]},{"id":"4f353cab2c834db0","type":"function","z":"b25203c60bb60fb5","name":"Fmt cmd","func":"let settings = JSON.parse(msg.payload);\nlet password = settings.password;\nlet ssid = settings.ssid;\nmsg.payload = \"device wifi hotspot ssid \" + ssid + \" password \" + password +\" ifname wlan0\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":80,"wires":[["47421b963dcadeef"]]},{"id":"6d0fa5661a11691c","type":"change","z":"b25203c60bb60fb5","name":"","rules":[{"t":"set","p":"is_paused","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[[]]},{"id":"70d42c8ee7bbecb3","type":"link in","z":"b25203c60bb60fb5","name":"set pause","links":["3b97436ffdf66542"],"x":165,"y":400,"wires":[["6d0fa5661a11691c"]]},{"id":"a4c0fc9b7296ca0a","type":"function","z":"efea80725839a84f","name":"Parse Xsens data (PSONCMS & GPRMC)","func":"const data = msg.payload;\nlet array_of_data = data.split(\",\");\nlet dataJson= {}\nlet type = array_of_data[0]\nlet mt = microtime.now()\nlet mt_string = mt.toString();\nlet isoDate = new Date().toISOString()\n\nvar microseconds = mt_string.substr(mt_string.length - 3); \nlet ts = isoDate.substring(11, isoDate.length - 1) + microseconds\n\nif (type == \"$PSONCMS\"){\n    let dataJson = {\n        \"type\": type,\n        \"q0\": parseFloat(array_of_data[1]),\n        \"q1\": parseFloat(array_of_data[2]),\n        \"q2\": parseFloat(array_of_data[3]),\n        \"q3\": parseFloat(array_of_data[4]),\n        \"acc_x\": parseFloat(array_of_data[5]),\n        \"acc_y\": parseFloat(array_of_data[6]),\n        \"acc_z\": parseFloat(array_of_data[7]),\n        \"rot_x\": parseFloat(array_of_data[8]),\n        \"rot_y\": parseFloat(array_of_data[9]),\n        \"rot_z\": parseFloat(array_of_data[10]),\n        \"mf_x\": parseFloat(array_of_data[11]),\n        \"mf_y\": parseFloat(array_of_data[12]),\n        \"mf_z\": parseFloat(array_of_data[13]),\n        \"t\": parseFloat(array_of_data[14].split('*')[0]),\n        \"ts\": ts,\n        \"iso_ts\": isoDate,\n        \"mt\":mt\n    }\n    context.set(\"$PSONCMS\",dataJson)\n}\n\nelse if (type == \"$GPRMC\") {\n    let outputData ={\n        \"PSONCMS\":context.get(\"$PSONCMS\"),\n        \"GPRMC\": {\n            \"sentence\":msg.payload,\n            \"ts\": isoDate,\n        }    \n    }\n    msg.payload = outputData;\n    //node.status({fill:\"green\",shape:\"dot\",text:isoDate});\n    context.set(\"$PSONCMS\", {})\n    return msg;\n}\nelse{\n    //wait for data \n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"microtime","module":"microtime"}],"x":410,"y":200,"wires":[["28de39a95108b74e"]]},{"id":"be326b4ba3395ab3","type":"link out","z":"efea80725839a84f","name":"processed data out","mode":"link","links":["3f099f151ad796e8","7aa6838c0074a1c1","dddd502cf70969ea"],"x":955,"y":200,"wires":[]},{"id":"dd230cc39922fcf1","type":"debug","z":"efea80725839a84f","name":"debug 119","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"6dcd423a231dbdc4","type":"serial control","z":"efea80725839a84f","name":"","serial":"05a6169fb732451e","x":340,"y":140,"wires":[["dd230cc39922fcf1"]]},{"id":"e3c80e25a6e61423","type":"inject","z":"efea80725839a84f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"serialport\":\"/dev/ttyUSB_XSENS\",\"serialbaud\":2000000,\"databits\":8,\"parity\":\"none\",\"stopbits\":1,\"enabled\":true}","payloadType":"json","x":150,"y":140,"wires":[["6dcd423a231dbdc4"]]},{"id":"eefd43bf427443e4","type":"serial in","z":"efea80725839a84f","name":"","serial":"05a6169fb732451e","x":110,"y":200,"wires":[["a4c0fc9b7296ca0a"]]},{"id":"2dcccbc275d63ad0","type":"delay","z":"efea80725839a84f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":830,"y":260,"wires":[["e74e993ddc0437e1"]]},{"id":"28de39a95108b74e","type":"nmea","z":"efea80725839a84f","name":"GPRMC","property":"payload.GPRMC.sentence","outputProperty":"payload.GPRMC.data","x":680,"y":200,"wires":[["a8dec71e31f2f62f","28be1168bd50248b"]]},{"id":"c4cb43a466bc26e8","type":"catch","z":"efea80725839a84f","name":"","scope":null,"uncaught":false,"x":140,"y":80,"wires":[["d1bc0e7583563edf"]]},{"id":"d1bc0e7583563edf","type":"debug","z":"efea80725839a84f","name":"debug 121","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":80,"wires":[]},{"id":"e74e993ddc0437e1","type":"link out","z":"efea80725839a84f","name":"data out to map","mode":"link","links":["2cd87f386cddb56a"],"x":955,"y":260,"wires":[]},{"id":"a8dec71e31f2f62f","type":"function","z":"efea80725839a84f","name":"Calc & fmt","func":"let data = msg.payload;\nlet keys= [\"q0\",\"q1\",\"q2\",\"q3\",\"acc_x\",\"acc_y\",\"acc_z\",\"rot_x\",\"rot_y\",\"rot_z\",\"mf_x\",\"mf_y\",\"mf_z\",\"t\"]\nlet buffer = context.get(\"buffer\") || {} ;\nlet smoothing_window = global.get(\"smoothing_window\") || 40;\nlet status = 0\n\n//node.status({fill:\"blue\",shape:\"ring\",text:smoothing_window});\n\nfor(let key in keys){  \n    let sensor_name = keys[key]\n    \n    if(Array.isArray(buffer[sensor_name])){\n        //OK\n    }\n    else{\n        buffer[sensor_name] = []\n    }\n\n    if(sensor_name in buffer){\n        buffer[sensor_name].push(data.PSONCMS[sensor_name])\n    }\n    else{\n        buffer[sensor_name] = []\n        buffer[sensor_name].push(data.PSONCMS[sensor_name])\n    }\n}\n\nlet array_size = buffer[\"q0\"].length\n\nif ( array_size >= smoothing_window){\n    \n    let newMsg = {}\n    \n    for (let key in keys) {\n        let sensor_name = keys[key]\n        let data_array = buffer[sensor_name]\n        buffer[sensor_name] = data_array.reduce((a, b) => Math.max(a, b))\n    }\n    if (data.GPRMC.data.status == \"valid\" && (data.GPRMC.data.lat !== 0 && data.GPRMC.data.lon !== 0 )){\n        status = 1;\n    }  \n\n    global.set(\"GNSS\", status)\n\n    newMsg.payload = buffer;\n    newMsg.payload.status = status;\n    newMsg.payload.iso_ts = data.PSONCMS.iso_ts;\n    newMsg.payload.ts = data.PSONCMS.ts;\n    newMsg.payload.mt = data.PSONCMS.mt;\n    newMsg.payload.speed = data.GPRMC.data.speedKnots * 1.852;\n    newMsg.payload.lat = data.GPRMC.data.lat;\n    newMsg.payload.lon = data.GPRMC.data.lon;\n    newMsg.payload.heading = data.GPRMC.data.trackTrue;   \n    node.send(newMsg)\n    context.set(\"buffer\",{})\n}\nelse{\n    //node.status({fill:\"blue\",shape:\"dot\",text:array_size+\"/\"+smoothing_window});\n    context.set(\"buffer\",buffer)\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":200,"wires":[["be326b4ba3395ab3","2dcccbc275d63ad0"]]},{"id":"7bb2e17766d11da6","type":"rpi-gpio out","z":"efea80725839a84f","name":"LTE hat User LED ","pin":"27","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":1050,"y":380,"wires":[]},{"id":"68178728ab435b65","type":"trigger","z":"efea80725839a84f","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":840,"y":380,"wires":[["7bb2e17766d11da6"]]},{"id":"28be1168bd50248b","type":"delay","z":"efea80725839a84f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":830,"y":320,"wires":[["68178728ab435b65"]]},{"id":"07a070942a589521","type":"catch","z":"debe57df1350b9f8","name":"","scope":null,"uncaught":false,"x":340,"y":740,"wires":[["682464770dd9f2ce"]]},{"id":"682464770dd9f2ce","type":"debug","z":"debe57df1350b9f8","name":"debug 117","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":740,"wires":[]},{"id":"248c899b516533c1","type":"subflow:27400e87cb5d7174","z":"debe57df1350b9f8","name":"","env":[{"name":"chart_name","value":"z_chart","type":"str"},{"name":"show_status","value":"false","type":"bool"}],"x":1030,"y":40,"wires":[[]]},{"id":"0380854c2791cbc9","type":"subflow:2964dba0896b8e86","z":"debe57df1350b9f8","name":"","env":[{"name":"chart_name","value":"x_chart","type":"str"},{"name":"chart_history_size","value":"5000","type":"num"},{"name":"trace_parameters","value":"{\"shape\":\"linear\",\"color\":\"rgb(255,0,0)\",\"width\":1,\"dash\":\"solid\"}","type":"json"},{"name":"format_ts","value":"3","type":"str"},{"name":"show_status","value":"false","type":"bool"},{"name":"array_size","value":"80","type":"num"},{"name":"create_ts","value":"false","type":"bool"}],"x":560,"y":220,"wires":[["4ebae88980137305"]]},{"id":"ec8abff50a9a86a7","type":"ui-template","z":"debe57df1350b9f8","group":"3497f19aa52ffb07","page":"","ui":"","name":"x_chart","order":1,"width":"12","height":"5","head":"","format":"<template>\n    <div class=\"plotlyChart\" id=\"x_chart\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":180,"y":80,"wires":[[]],"icon":"font-awesome/fa-area-chart"},{"id":"c2f4efe50479b83a","type":"ui-control","z":"debe57df1350b9f8","name":"","ui":"c9975e78215f4d8a","events":"change","x":180,"y":40,"wires":[["379d3e26f2baf8f1","f73123e219f1c445","7364d4d78ae7170e"]]},{"id":"3f651040ba22c27e","type":"subflow:6d979337a7724c57","z":"debe57df1350b9f8","name":"","x":1040,"y":100,"wires":[]},{"id":"7375c2c45d5b94e8","type":"subflow:2964dba0896b8e86","z":"debe57df1350b9f8","name":"","env":[{"name":"chart_name","value":"y_chart","type":"str"},{"name":"chart_history_size","value":"5000","type":"num"},{"name":"trace_parameters","value":"{\"shape\":\"linear\",\"color\":\"rgb(0,255,0)\",\"width\":1,\"dash\":\"solid\"}","type":"json"},{"name":"format_ts","value":"3","type":"str"},{"name":"show_status","value":"false","type":"bool"},{"name":"array_size","value":"80","type":"num"}],"x":560,"y":280,"wires":[["cb542a027a0af53b"]]},{"id":"33e45ebb48ddcd76","type":"subflow:2964dba0896b8e86","z":"debe57df1350b9f8","name":"","env":[{"name":"chart_name","value":"z_chart","type":"str"},{"name":"chart_history_size","value":"5000","type":"num"},{"name":"trace_parameters","value":"{\"shape\":\"linear\",\"color\":\"rgb(0,0,255)\",\"width\":1,\"dash\":\"solid\"}","type":"json"},{"name":"format_ts","value":"3","type":"str"},{"name":"show_status","value":"false","type":"bool"},{"name":"array_size","value":"80","type":"num"}],"x":560,"y":340,"wires":[["11726e34180fa468"]]},{"id":"3462075450f4be8e","type":"ui-template","z":"debe57df1350b9f8","group":"c4707e03964d83a8","page":"","ui":"","name":"y_chart","order":3,"width":"12","height":"5","head":"","format":"<template>\n    <div class=\"plotlyChart\" id=\"y_chart\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":180,"y":120,"wires":[[]],"icon":"font-awesome/fa-area-chart"},{"id":"f1c8a9b85c44e3d0","type":"ui-template","z":"debe57df1350b9f8","group":"14edb5cc92e12ded","page":"","ui":"","name":"z_chart","order":2,"width":"12","height":"5","head":"","format":"<template>\n    <div class=\"plotlyChart\" id=\"z_chart\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":180,"y":160,"wires":[[]],"icon":"font-awesome/fa-area-chart"},{"id":"dddd502cf70969ea","type":"link in","z":"debe57df1350b9f8","name":"processed data in","links":["be326b4ba3395ab3"],"x":225,"y":280,"wires":[["eb6ada82149f4144","2b650b136d8b6872"]]},{"id":"99dabf2e24d6bea8","type":"link in","z":"debe57df1350b9f8","name":"draw data to charts","links":["129424ea67545853","3ddf1286454fbd8c","77dfcfe173ec9369","97519315913e3e6b","9a811fbe43c8bc10","f5c013fcd88b1264"],"x":615,"y":40,"wires":[["14bc7edd8bb37c01"]]},{"id":"f5c013fcd88b1264","type":"link out","z":"debe57df1350b9f8","name":"link out 7","mode":"link","links":["99dabf2e24d6bea8"],"x":515,"y":40,"wires":[]},{"id":"129424ea67545853","type":"link out","z":"debe57df1350b9f8","name":"link out 8","mode":"link","links":["99dabf2e24d6bea8"],"x":515,"y":100,"wires":[]},{"id":"9a811fbe43c8bc10","type":"link out","z":"debe57df1350b9f8","name":"link out 9","mode":"link","links":["99dabf2e24d6bea8"],"x":515,"y":160,"wires":[]},{"id":"77dfcfe173ec9369","type":"link out","z":"debe57df1350b9f8","name":"trace x out","mode":"link","links":["99dabf2e24d6bea8"],"x":835,"y":240,"wires":[]},{"id":"97519315913e3e6b","type":"link out","z":"debe57df1350b9f8","name":"trace y out","mode":"link","links":["99dabf2e24d6bea8"],"x":835,"y":300,"wires":[]},{"id":"3ddf1286454fbd8c","type":"link out","z":"debe57df1350b9f8","name":"trace z out","mode":"link","links":["99dabf2e24d6bea8"],"x":835,"y":360,"wires":[]},{"id":"379d3e26f2baf8f1","type":"subflow:78d680fc38aa52f8","z":"debe57df1350b9f8","name":"X-axis","env":[{"name":"chart_name","value":"x_chart","type":"str"},{"name":"delay","value":"10","type":"num"},{"name":"config","value":"{\"responsive\":true,\"scrollZoom\":false,\"displaylogo\":false,\"modeBarButtonsToRemove\":[\"zoomIn2d\",\"zoomOut2d\",\"pan2d\",\"pan\",\"resetScale\"]}","type":"json"},{"name":"layout","value":"{\"title\":\"X-axis\",\"showlegend\":false,\"autosize\":true,\"dragmode\":false,\"hovermode\":\"x unified\",\"hoverlabel\":{\"namelength\":-1,\"bgcolor\":\"rgb(0,0,0)\",\"bordercolor\":\"rgb(0,0,0)\",\"font\":{\"color\":\"rgb(255,255,255)\",\"family\":\"Helvetica\",\"size\":12},\"grouptitlefont\":{\"family\":\"Helvetica\",\"size\":12}},\"margin\":{\"l\":60,\"r\":10,\"t\":50,\"b\":0},\"xaxis\":{\"autorange\":true,\"showticklabels\":false},\"yaxis\":{\"autorange\":true,\"type\":\"linear\",\"ticksuffix\":\" m/s^2\",\"hoverformat\":\".3f\",\"titlefont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"},\"tickfont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"}}}","type":"json"},{"name":"page","value":"XYZ","type":"str"}],"x":390,"y":40,"wires":[["f5c013fcd88b1264"]]},{"id":"f73123e219f1c445","type":"subflow:78d680fc38aa52f8","z":"debe57df1350b9f8","name":"Y-axis","env":[{"name":"chart_name","value":"y_chart","type":"str"},{"name":"delay","value":"10","type":"num"},{"name":"config","value":"{\"responsive\":true,\"scrollZoom\":false,\"displaylogo\":false,\"modeBarButtonsToRemove\":[\"zoomIn2d\",\"zoomOut2d\",\"pan2d\",\"pan\",\"resetScale\"]}","type":"json"},{"name":"layout","value":"{\"title\":\"Y-axis\",\"showlegend\":false,\"autosize\":true,\"dragmode\":false,\"hovermode\":\"x unified\",\"hoverlabel\":{\"namelength\":-1,\"bgcolor\":\"rgb(0,0,0)\",\"bordercolor\":\"rgb(0,0,0)\",\"font\":{\"color\":\"rgb(255,255,255)\",\"family\":\"Helvetica\",\"size\":12},\"grouptitlefont\":{\"family\":\"Helvetica\",\"size\":12}},\"margin\":{\"l\":60,\"r\":10,\"t\":50,\"b\":0},\"xaxis\":{\"autorange\":true,\"showticklabels\":false},\"yaxis\":{\"autorange\":true,\"type\":\"linear\",\"ticksuffix\":\" m/s^2\",\"hoverformat\":\".3f\",\"titlefont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"},\"tickfont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"}}}","type":"json"},{"name":"page","value":"XYZ","type":"str"}],"x":390,"y":100,"wires":[["129424ea67545853"]]},{"id":"7364d4d78ae7170e","type":"subflow:78d680fc38aa52f8","z":"debe57df1350b9f8","name":"Z-axis","env":[{"name":"chart_name","value":"z_chart","type":"str"},{"name":"delay","value":"10","type":"num"},{"name":"config","value":"{\"responsive\":true,\"scrollZoom\":false,\"displaylogo\":false,\"modeBarButtonsToRemove\":[\"zoomIn2d\",\"zoomOut2d\",\"pan2d\",\"pan\",\"resetScale\"]}","type":"json"},{"name":"layout","value":"{\"title\":\"Z-axis\",\"showlegend\":false,\"autosize\":true,\"dragmode\":false,\"hovermode\":\"x unified\",\"hoverlabel\":{\"namelength\":-1,\"bgcolor\":\"rgb(0,0,0)\",\"bordercolor\":\"rgb(0,0,0)\",\"font\":{\"color\":\"rgb(255,255,255)\",\"family\":\"Helvetica\",\"size\":12},\"grouptitlefont\":{\"family\":\"Helvetica\",\"size\":12}},\"margin\":{\"l\":60,\"r\":10,\"t\":50,\"b\":0},\"xaxis\":{\"autorange\":true,\"showticklabels\":false},\"yaxis\":{\"autorange\":true,\"type\":\"linear\",\"ticksuffix\":\" m/s^2\",\"hoverformat\":\".3f\",\"titlefont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"},\"tickfont\":{\"size\":10,\"family\":\"Helvetica\",\"color\":\"rgb(0,0,0)\"}}}","type":"json"},{"name":"page","value":"XYZ","type":"str"}],"x":390,"y":160,"wires":[["9a811fbe43c8bc10"]]},{"id":"eb6ada82149f4144","type":"function","z":"debe57df1350b9f8","name":"Fmt traces","func":"let acc_x = {\n    \"topic\":\"X_max\",\n    \"payload\":msg.payload.acc_x,\n    \"timestamp\":msg.payload.ts,\n    \"chart_history_size\":global.get(\"chart_history_size\") || 5000,\n    \"buffer_size\": global.get(\"buffer_size\") || 80\n}\n\nlet acc_y = {\n    \"topic\":\"Y_max\",\n    \"payload\":msg.payload.acc_y,\n    \"ts\":msg.payload.ts,\n    \"chart_history_size\":global.get(\"chart_history_size\") || 5000,\n    \"buffer_size\": global.get(\"buffer_size\") || 80\n}\n\nlet acc_z = {\n    \"topic\":\"Z_max\",\n    \"payload\":msg.payload.acc_z,\n    \"timestamp\":msg.payload.ts,\n    \"chart_history_size\":global.get(\"chart_history_size\") || 5000,\n    \"buffer_size\": global.get(\"buffer_size\") || 80\n}\n\nnode.send([acc_x, acc_y, acc_z])","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["0380854c2791cbc9"],["7375c2c45d5b94e8"],["33e45ebb48ddcd76"]]},{"id":"998865eb359b279f","type":"websocket out","z":"debe57df1350b9f8","name":"To Web UI","server":"","client":"82a4d56f2fc758df","x":730,"y":400,"wires":[]},{"id":"b98a85c66fc2624f","type":"inject","z":"debe57df1350b9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"logging","payloadType":"global","x":120,"y":480,"wires":[["b00ac91451abe5fa"]]},{"id":"b00ac91451abe5fa","type":"ui-template","z":"debe57df1350b9f8","group":"","page":"","ui":"c9975e78215f4d8a","name":"LOG","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <v-btn style=\"disable-events\" id=\"log_btn\">\n            <v-icon>{{log_icon}}</v-icon>\n        </v-btn>      \n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false,\n                log_icon: \"mdi-database-off\"\n            }\n        },\n\n        mounted() {\n            this.mounted = true   \n\n            this.$socket.on('msg-input:' + this.id, function(msg) {               \n                const state = Boolean(msg.payload);           \n                const btn = document.getElementById('log_btn')\n                if(state){\n                    btn.style.backgroundColor = \"green\"\n                    btn.style.pointerEvents = \"none\"\n                    if($(\"#log_btn > span.v-btn__content > i\").hasClass(\"mdi-database-off\")){\n                        $(\"#log_btn > span.v-btn__content > i\").removeClass(\"mdi-database-off\")     \n                    }\n                    \n                    if($(\"#log_btn > span.v-btn__content > i\").hasClass(\"mdi-database\") == false){\n                        $(\"#log_btn > span.v-btn__content > i\").addClass(\"mdi-database\")      \n                    }\n\n\n                }\n                else {\n                    btn.style.pointerEvents = \"none\"\n                    btn.style.backgroundColor = \"red\"   \n                    if($(\"#log_btn > span.v-btn__content > i\").hasClass(\"mdi-database\")){\n                        $(\"#log_btn > span.v-btn__content > i\").removeClass(\"mdi-database\")     \n                    }\n                    \n                    if($(\"#log_btn > span.v-btn__content > i\").hasClass(\"mdi-database-off\") == false){\n                        $(\"#log_btn > span.v-btn__content > i\").addClass(\"mdi-database-off\")      \n                    }\n\n                }\n            })\n        }\n    }\n    \n\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":350,"y":480,"wires":[["77f61525c051ef6e"]]},{"id":"77f61525c051ef6e","type":"debug","z":"debe57df1350b9f8","name":"debug 135","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"30fae751a399a476","type":"inject","z":"debe57df1350b9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GNSS","payloadType":"global","x":120,"y":520,"wires":[["eed7298bc1edec6b"]]},{"id":"eed7298bc1edec6b","type":"ui-template","z":"debe57df1350b9f8","group":"","page":"","ui":"c9975e78215f4d8a","name":"GNSS","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <v-btn id=\"gnss_btn\">\n            <v-icon>{{ gnss_icon }}</v-icon>\n        </v-btn>      \n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false,\n                gnss_icon: \"mdi-map-marker-off\" \n            }\n        },\n\n        mounted() {\n            this.mounted = true   \n            \n            this.$socket.on('msg-input:' + this.id, function(msg) {               \n                const state = Boolean(msg.payload);           \n                const btn = document.getElementById('gnss_btn')\n                if(state){\n                    btn.style.backgroundColor = \"green\"   \n\n                    btn.style.pointerEvents = \"none\"\n                    if($(\"#gnss_btn > span.v-btn__content > i\").hasClass(\"mdi-map-marker-off\")){\n                        $(\"#gnss_btn > span.v-btn__content > i\").removeClass(\"mdi-map-marker-off\")     \n                    }\n                    \n                    if($(\"#gnss_btn > span.v-btn__content > i\").hasClass(\"mdi-map-marker\") == false){\n                        $(\"#gnss_btn > span.v-btn__content > i\").addClass(\"mdi-map-marker\")      \n                    }\n                }\n                else {\n                    btn.style.backgroundColor = \"red\"    \n                    btn.style.pointerEvents = \"none\"\n\n                    if($(\"#gnss_btn > span.v-btn__content > i\").hasClass(\"mdi-map-marker\")){\n                        $(\"#gnss_btn > span.v-btn__content > i\").removeClass(\"mdi-map-marker\")     \n                    }\n                    \n                    if($(\"#gnss_btn > span.v-btn__content > i\").hasClass(\"mdi-map-marker-off\") == false){\n                        $(\"#gnss_btn > span.v-btn__content > i\").addClass(\"mdi-map-marker-off\")      \n                    }\n\n\n                }\n\n            })\n        }\n    }\n    \n\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":350,"y":520,"wires":[["5b10acc805f0b9a7"]]},{"id":"5b10acc805f0b9a7","type":"debug","z":"debe57df1350b9f8","name":"debug 136","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"a71d38b2e2fdc8ae","type":"ui-template","z":"debe57df1350b9f8","group":"","page":"","ui":"c9975e78215f4d8a","name":"WWW","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n       <v-btn id=\"net_btn\">\n           <v-icon>{{net_icon}}</v-icon>\n       </v-btn>      \n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false,\n                net_icon: \"mdi-web-off\"\n            }\n        },\n\n        mounted () {\n            this.mounted = true   \n\n            this.$socket.on('msg-input:' + this.id, function(msg) {               \n                const state = Boolean(msg.payload);           \n                const btn = document.getElementById('net_btn');\n                if(state){\n                    btn.style.backgroundColor = \"green\";\n                    btn.style.pointerEvents = \"none\";\n\n                    if($(\"#net_btn > span.v-btn__content > i\").hasClass(\"mdi-web-off\")){\n                        $(\"#net_btn > span.v-btn__content > i\").removeClass(\"mdi-web-off\")     \n                    }\n                    \n                    if($(\"#net_btn > span.v-btn__content > i\").hasClass(\"mdi-web\") == false){\n                        $(\"#net_btn > span.v-btn__content > i\").addClass(\"mdi-web\")      \n                    }\n                }\n                else {\n                    btn.style.backgroundColor = \"red\";\n                    btn.style.pointerEvents = \"none\";\n                    if($(\"#net_btn > span.v-btn__content > i\").hasClass(\"mdi-web\")){\n                        $(\"#net_btn > span.v-btn__content > i\").removeClass(\"mdi-web\")     \n                    }\n                    \n                    if($(\"#net_btn > span.v-btn__content > i\").hasClass(\"mdi-web-off\") == false){\n                        $(\"#net_btn > span.v-btn__content > i\").addClass(\"mdi-web-off\")      \n                    }\n                    \n                }\n\n            })\n        },\n\n\n    }\n    \n\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":350,"y":560,"wires":[["a9c1ed806e13fadc"]]},{"id":"a9c1ed806e13fadc","type":"debug","z":"debe57df1350b9f8","name":"debug 137","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"1737f4b56b8b26f2","type":"inject","z":"debe57df1350b9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"www","payloadType":"global","x":130,"y":560,"wires":[["a71d38b2e2fdc8ae"]]},{"id":"4ebae88980137305","type":"msg-speed","z":"debe57df1350b9f8","name":"msg/s","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":710,"y":220,"wires":[[],["77dfcfe173ec9369"]]},{"id":"cb542a027a0af53b","type":"msg-speed","z":"debe57df1350b9f8","name":"msg/s","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":710,"y":280,"wires":[[],["97519315913e3e6b"]]},{"id":"11726e34180fa468","type":"msg-speed","z":"debe57df1350b9f8","name":"msg/s","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":710,"y":340,"wires":[[],["3ddf1286454fbd8c"]]},{"id":"ffa554e0e7642754","type":"ui-template","z":"debe57df1350b9f8","group":"","page":"","ui":"c9975e78215f4d8a","name":"Reload","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n       <v-btn @click=\"button_clicked()\" id=\"reload_btn\">\n            <v-icon>mdi-reload</v-icon> \n        </v-btn>      \n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            this.mounted = true   \n            this.$socket.on('msg-input:' + this.id, function(msg) {               \n                 //Do nothing\n            })\n        },\n        methods: {\n            button_clicked: function () {\n                this.send({\n                    \"payload\":\"reload\"\n                })\n            }\n\n        }\n    }\n    \n\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":360,"y":600,"wires":[["2fe3bf1bbf7cdf20"]]},{"id":"277b71a6640d46c8","type":"link in","z":"debe57df1350b9f8","name":"reload charts","links":["2fe3bf1bbf7cdf20","c7e0d177f90627f5"],"x":225,"y":200,"wires":[["379d3e26f2baf8f1","f73123e219f1c445","7364d4d78ae7170e"]]},{"id":"2fe3bf1bbf7cdf20","type":"link out","z":"debe57df1350b9f8","name":"link out 14","mode":"link","links":["277b71a6640d46c8"],"x":535,"y":600,"wires":[]},{"id":"14bc7edd8bb37c01","type":"switch","z":"debe57df1350b9f8","name":"is not paused?","property":"is_paused","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":40,"wires":[["3f651040ba22c27e","248c899b516533c1"]]},{"id":"9f3b2f6dc2f282b2","type":"ui-template","z":"debe57df1350b9f8","group":"","page":"","ui":"c9975e78215f4d8a","name":"Pause","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n       <v-btn @click=\"button_clicked()\" id=\"pause_btn\">\n            <v-icon>{{ pause_icon }}</v-icon> \n        </v-btn>      \n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false,\n                pause_icon: \"mdi-pause\"\n            }\n        },\n        mounted() {\n            this.mounted = true   \n            this.pause_icon = \"mdi-pause\"\n            this.$socket.on('msg-input:' + this.id, function(msg) {               \n                console.log(\"ok\")\n            })\n        },\n        methods: {\n            button_clicked: function () {\n                \n                let return_value = false;\n                let p_icon = this.pause_icon;\n\n\n                if( p_icon == \"mdi-pause\") {\n                    this.pause_icon = \"mdi-play\"\n                    return_value = true;\n                }\n                else if(p_icon == \"mdi-play\"){\n                     this.pause_icon = \"mdi-pause\"   \n                }\n\n                //this.myIcon = 'mdi-play'\n                this.send({\n                    \"payload\":return_value\n                })\n            }\n\n        }\n        \n\n    }\n    \n\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":350,"y":640,"wires":[["3b97436ffdf66542"]]},{"id":"3b97436ffdf66542","type":"link out","z":"debe57df1350b9f8","name":"link out 15","mode":"link","links":["70d42c8ee7bbecb3"],"x":535,"y":640,"wires":[]},{"id":"2b650b136d8b6872","type":"switch","z":"debe57df1350b9f8","name":"is not paused?","property":"is_paused","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":400,"wires":[["998865eb359b279f"]]},{"id":"eda1d2dd32403feb","type":"ui-switch","z":"106dc8a140f5f24e","name":"Logging","label":"Logging","group":"3136c8a1364e15ba","order":1,"width":"2","height":"1","passthru":true,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":80,"wires":[["f558cc271bc56a07","d38b5c0b25b8f6ec"]]},{"id":"f558cc271bc56a07","type":"debug","z":"106dc8a140f5f24e","name":"debug 131","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"d38b5c0b25b8f6ec","type":"change","z":"106dc8a140f5f24e","name":"","rules":[{"t":"set","p":"logging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":80,"wires":[[]]},{"id":"2a6e3f15aaae9dd3","type":"inject","z":"106dc8a140f5f24e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":80,"wires":[["eda1d2dd32403feb"]]},{"id":"9061289a28d03405","type":"inject","z":"106dc8a140f5f24e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":140,"wires":[["531e4079de89faa3"]]},{"id":"531e4079de89faa3","type":"ui-slider","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","name":"Smoothing window","label":"Smoothing window","tooltip":"","order":2,"width":"5","height":"1","passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":true,"min":"1","max":"400","step":1,"className":"","x":270,"y":140,"wires":[["92d112f953c594b5","f1a1689d37b028ab"]]},{"id":"92d112f953c594b5","type":"change","z":"106dc8a140f5f24e","name":"","rules":[{"t":"set","p":"smoothing_window","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[[]]},{"id":"f1a1689d37b028ab","type":"ui-text","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","order":3,"width":"1","height":"1","name":"Smoothing windows current value","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","className":"","x":680,"y":200,"wires":[]},{"id":"c8b5fe9bde37abc4","type":"ping","z":"106dc8a140f5f24e","protocol":"Automatic","mode":"timed","name":"","host":"8.8.8.8","timer":"30","inputs":0,"x":90,"y":520,"wires":[["0e972ddcf141b4b3"]]},{"id":"0e972ddcf141b4b3","type":"function","z":"106dc8a140f5f24e","name":"Fmt","func":"let input = msg.payload;\n\nnode.status({fill:\"blue\",shape:\"dot\",text:input});\n\ntry{\n    if(input === false){\n        global.set(\"www\",false)\n        return {payload:false}\n    }\n    else{\n        global.set(\"www\", true)\n        return {payload:true}    \n    }\n}\ncatch(e){\n    node.warn(e)\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":520,"wires":[["9f8d91069a302414"]]},{"id":"9f8d91069a302414","type":"change","z":"106dc8a140f5f24e","name":"","rules":[{"t":"set","p":"www","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":520,"wires":[[]]},{"id":"6b1608bbb922dde7","type":"ui-slider","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","name":"Chart history size","label":"Chart history size","tooltip":"","order":6,"width":"5","height":"1","passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":true,"min":"1500","max":"120000","step":"500","className":"","x":270,"y":260,"wires":[["8622c3468db3b391","9c4756a9acee89e5"]]},{"id":"a08a90214ff889e9","type":"inject","z":"106dc8a140f5f24e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"25000","payloadType":"num","x":90,"y":260,"wires":[["6b1608bbb922dde7"]]},{"id":"8622c3468db3b391","type":"change","z":"106dc8a140f5f24e","name":"","rules":[{"t":"set","p":"chart_history_size","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[[]]},{"id":"9c4756a9acee89e5","type":"ui-text","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","order":7,"width":"1","height":"1","name":"Chart history size","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","className":"","x":630,"y":320,"wires":[]},{"id":"7489384217f5a8e7","type":"inject","z":"106dc8a140f5f24e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"80","payloadType":"num","x":90,"y":380,"wires":[["5997e5538dbe1999"]]},{"id":"5997e5538dbe1999","type":"ui-slider","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","name":"Buffer size for data drawing","label":"Chart plotting buffer size","tooltip":"","order":4,"width":"5","height":"1","passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":true,"min":"1","max":"400","step":1,"className":"","x":300,"y":380,"wires":[["c0d2686b69df31dc","67027a15b7090635"]]},{"id":"c0d2686b69df31dc","type":"change","z":"106dc8a140f5f24e","name":"","rules":[{"t":"set","p":"buffer_size","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[[]]},{"id":"67027a15b7090635","type":"ui-text","z":"106dc8a140f5f24e","group":"3136c8a1364e15ba","order":5,"width":"1","height":"1","name":"Buffer size current value","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","className":"","x":650,"y":440,"wires":[]},{"id":"7aa6838c0074a1c1","type":"link in","z":"8533df46bb1c0fa9","name":"data to log file","links":["be326b4ba3395ab3"],"x":145,"y":60,"wires":[["404faeac72650662"]]},{"id":"acf3ae16641cf41b","type":"debug","z":"8533df46bb1c0fa9","name":"debug 132","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"404faeac72650662","type":"function","z":"8533df46bb1c0fa9","name":"Fmt log file","func":"let logging = global.get(\"logging\");\nlet GNSS_STATUS = global.get(\"GNSS\")\n\nif (logging && GNSS_STATUS){\n    let ts = msg.payload.ts;\n    let mt = msg.payload.mt;\n    let iso_ts = msg.payload.iso_ts;\n    let ts_values = iso_ts.split(\"T\");\n    let ts_values_2 = ts_values[0].split(\"-\");\n    let filename = \"/home/pi/data/\" + ts_values[0] + \".csv\";\n\n    let newMsg = {\n        \"iso_ts\":iso_ts,\n        \"ts\":ts,\n        \"mt\":mt,\n        \"acc_x\": msg.payload.acc_x,\n        \"acc_y\": msg.payload.acc_y,\n        \"acc_z\": msg.payload.acc_z,\n        \"lat\": msg.payload.lat,\n        \"lon\": msg.payload.lon,\n        \"speed\": msg.payload.speed,\n        \"hdg\": msg.payload.heading\n    }\n    newMsg.filename = filename\n    node.status({ fill: \"green\", shape: \"dot\", text: \"GPS: \" + GNSS_STATUS + \" | LOG: \" + logging });\n    return newMsg;\n}\nelse{\n    node.status({ fill: \"red\", shape: \"dot\", text: \"GPS: \" + GNSS_STATUS + \" | LOG: \" + logging });\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":60,"wires":[["25946c02ddb3b9d3"]]},{"id":"25946c02ddb3b9d3","type":"join","z":"8533df46bb1c0fa9","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":60,"wires":[["acf3ae16641cf41b","3bdd781d8adf313d"]]},{"id":"3bdd781d8adf313d","type":"csv","z":"8533df46bb1c0fa9","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"iso_ts, ts, mt, acc_x, acc_y, acc_z, lat, lon, speed, hdg","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":570,"y":120,"wires":[["4049c9abe37c8928"]]},{"id":"4049c9abe37c8928","type":"file","z":"8533df46bb1c0fa9","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":120,"wires":[[]]},{"id":"3f099f151ad796e8","type":"link in","z":"8533df46bb1c0fa9","name":"data to mqtt ","links":["be326b4ba3395ab3"],"x":145,"y":220,"wires":[["b283a4f25a1a5555","7d96cfd9f9478e90"]]},{"id":"7d96cfd9f9478e90","type":"function","z":"8533df46bb1c0fa9","name":"Format payload","func":"let logging = global.get(\"logging\");\nlet GNSS_STATUS = global.get(\"GNSS\")\n\nlet mqtt_message = {\n    \"payload\":{\n        \"d\": {\n            \"1\":{\n                \"1\": { \"v\": msg.payload.q0 },\n                \"2\": { \"v\": msg.payload.q1 },\n                \"3\": { \"v\": msg.payload.q2 },\n                \"4\": { \"v\": msg.payload.q3 },\n                \"5\": { \"v\": msg.payload.acc_x },\n                \"6\": { \"v\": msg.payload.acc_y },\n                \"7\": { \"v\": msg.payload.acc_z },\n                \"8\": { \"v\": msg.payload.rot_x },\n                \"9\": { \"v\": msg.payload.rot_y },\n                \"10\": { \"v\": msg.payload.rot_z },\n                \"11\": { \"v\": msg.payload.mf_x },\n                \"12\": { \"v\": msg.payload.mf_y },\n                \"13\":{ \"v\": msg.payload.mf_z },\n                \"14\": { \"v\": msg.payload.t },\n                \"15\": { \"v\": msg.payload.ts },\n                \"16\": { \"v\": msg.payload.mt },\n            },\n            \"2\":{\n                \"1\": { \"v\": msg.payload.status },\n                \"2\": { \"v\": msg.payload.speed },\n                \"3\": { \"v\": msg.payload.lat },\n                \"4\": { \"v\": msg.payload.lon },   \n                \"5\": { \"v\": msg.payload.heading } \n            }\n        },\n        \"ts\":msg.payload.iso_ts\n    }\n}\n\nif (GNSS_STATUS == 1 && logging){\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload.ts});\n    return mqtt_message;\n}\nelse{\n    //node.status({ fill: \"red\", shape: \"dot\", text: \"GPS: \" + GNSS_STATUS + \" | LOG: \" + logging });\n    return null\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["3158c98e0c386f9e","9eae38bbd4e7f5ac"]]},{"id":"9eae38bbd4e7f5ac","type":"mqtt out","z":"8533df46bb1c0fa9","name":"","topic":"tequ/type/xsens/id/proto4/event/data","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f382f9bcfd678a44","x":670,"y":220,"wires":[]},{"id":"3158c98e0c386f9e","type":"debug","z":"8533df46bb1c0fa9","name":"debug 133","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"b283a4f25a1a5555","type":"debug","z":"8533df46bb1c0fa9","name":"debug 150","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":280,"wires":[]},{"id":"4ef62f1e33795eb6","type":"worldmap","z":"3c2b7a2ac4996c9d","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN","maplist":"OSMG,OSMC,EsriC,EsriS,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":660,"y":180,"wires":[]},{"id":"ff8257f4a65789fc","type":"worldmap-tracks","z":"3c2b7a2ac4996c9d","name":"","depth":"300","layer":"combined","smooth":true,"x":450,"y":180,"wires":[["4ef62f1e33795eb6"]]},{"id":"da7eac68.72f19","type":"function","z":"3c2b7a2ac4996c9d","name":"Create payload(s) for Worldmap","func":"let vin = msg.payload.vin;\nlet data = msg.payload.d;\nlet color = \"blue\"\nlet newMsg;\n\nlet status = msg.payload.status;\n\nif(status == \"valid\"){\n    newMsg ={\n        \"payload\":{\n                \"name\":\"PROTO4\",\n                \"layer\":\"car\",\n                \"lat\":msg.payload.lat,\n                \"lon\": msg.payload.lon,\n                \"heading\":msg.payload.heading,\n                \"speed\":msg.payload.speed,\n                \"icon\":\"car\",\n                \"color\":color,\n                \"iconColor\":color,\n                \"time\":msg.payload.ts\n        },\n        \"topic\": \"PROTO4\",\n        \"vin\":\"PROTO4\"\n    }    \n    return newMsg;\n}\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["2b8712a49d81fb50","4ef62f1e33795eb6"]]},{"id":"2b8712a49d81fb50","type":"switch","z":"3c2b7a2ac4996c9d","name":"speed > 1","property":"payload.speed","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["ff8257f4a65789fc"]]},{"id":"2cd87f386cddb56a","type":"link in","z":"3c2b7a2ac4996c9d","name":"map data in","links":["e74e993ddc0437e1"],"x":145,"y":60,"wires":[["da7eac68.72f19","611e7cf105814b9a"]]},{"id":"611e7cf105814b9a","type":"debug","z":"3c2b7a2ac4996c9d","name":"debug 122","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":60,"wires":[]},{"id":"91a2b8b734424ce0","type":"worldmap in","z":"3c2b7a2ac4996c9d","name":"","path":"/worldmap","events":"connect,disconnect,point,layer,bounds,files,draw,other","x":140,"y":440,"wires":[["77e68699.180278"]]},{"id":"77e68699.180278","type":"switch","z":"3c2b7a2ac4996c9d","name":"Client connected?","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":440,"wires":[["7ffd4f30.946fa","b93efdee.4b38"]]},{"id":"b93efdee.4b38","type":"delay","z":"3c2b7a2ac4996c9d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":520,"y":500,"wires":[["43bf377a.7729d8"]]},{"id":"43bf377a.7729d8","type":"function","z":"3c2b7a2ac4996c9d","name":"Activate MML layer","func":"msg.payload = { \"command\": { \"layer\":\"MML\"}};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":500,"wires":[["9883894baf05ce3a"]]},{"id":"9883894baf05ce3a","type":"link out","z":"3c2b7a2ac4996c9d","name":"","mode":"link","links":["5102b87975a1cb98"],"x":865,"y":500,"wires":[]},{"id":"5102b87975a1cb98","type":"link in","z":"3c2b7a2ac4996c9d","name":"link in 4","links":["9883894baf05ce3a","dac7d940b868bb93"],"x":485,"y":240,"wires":[["4ef62f1e33795eb6"]]},{"id":"7ffd4f30.946fa","type":"function","z":"3c2b7a2ac4996c9d","name":"Add MML layer","func":"msg = {}\nmsg.payload = {}\nmsg.payload.command = {\"map\":{}}\nvar apikey = \"b182fadd-eb0f-4348-a0c2-960d3acf818b\"\n\n\nmsg.payload.command.map = {\n    \"name\":\"MML\",\n    \"url\":\"https://avoin-karttakuva.maanmittauslaitos.fi/avoin/wmts/1.0.0/maastokartta/default/WGS84_Pseudo-Mercator/{z}/{y}/{x}.png?api-key=\"+apikey,\n    \"opt\":{ \n        \"maxZoom\":19,\n        \"attribution\":'© Mapdata <a href=\" https://avoin-karttakuva.maanmittauslaitos.fi\">Maanmittauslaitos</a>' + '<a href=\"https://creativecommons.org/licenses/by/4.0/deed.en\">CC BY 4.0</a>\"'\n        }\n    };\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":440,"wires":[["dac7d940b868bb93"]]},{"id":"2596da8de480b143","type":"catch","z":"3c2b7a2ac4996c9d","name":"","scope":null,"uncaught":false,"x":320,"y":620,"wires":[["0e15f45c542a41c4"]]},{"id":"0e15f45c542a41c4","type":"debug","z":"3c2b7a2ac4996c9d","name":"debug 123","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":620,"wires":[]},{"id":"dac7d940b868bb93","type":"link out","z":"3c2b7a2ac4996c9d","name":"","mode":"link","links":["5102b87975a1cb98"],"x":865,"y":440,"wires":[]},{"id":"1fb582e903ada32b","type":"ui-template","z":"3c2b7a2ac4996c9d","group":"d1cd4ece29040a71","page":"","ui":"","name":"Map","order":0,"width":"12","height":"16","head":"","format":"<iframe src=\"/worldmap\" style=\"width: 100%; height:100%;\" ></iframe>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":250,"y":280,"wires":[[]]}]